<%if new_book.errors.any? %>
      <%= "#{new_book.errors.count} error prohibited this obj from being saved:" %>
      <% new_book.errors.full_messages.each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
<h1>User info</h1>
<%=%>
<%=%>
<%=%>
<%= link_to "👦", edit_user_path(current_user.id) %>


<h1>New book</h1>
<%= form_with model:new_book, url: books_path, local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>