<!-----------------------å³ç”»é¢(å…ƒã«ãªã‚‹view)----------------------->
<h1>User info</h1>
<%= attachment_image_tag user_info, :profile_image, :fill, 60, 60 %>
<p>name</p>
<%= user_info.name %>
<p>introduction</p>
<%= user_info.introduction %>
<%= link_to "ðŸ‘¦", edit_user_path(current_user.id) %>


<h1>New book</h1>
<%= form_with model:new_book, url: books_path, local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>