<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 d-flex flex-column">
    <h1>User info</h1>
    <!--------------------------------投稿失敗時のエラーメッセージ------------------------------------>
    <% if @user.errors.any? %>
      <h2 class="text-danger"><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
      <% @user.errors.full_messages.each do |error| %>
        <ul class="my-0">
          <li class="text-danger ml-5"><%= error %></li>
        </ul>
      <% end %>
    <% end %>
    <!------------------------------------------------------------------------------------------------>
    <%= form_with model:@user,local: true do |f| %>
      <div class="mb-3">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class:"w-100 px-2 py-1" %>
      </div>
      <div class="mb-3">
        <%= f.label :profile_image, "Image" %><br/>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="mb-3">
        <%= f.label :introduction, "Introduction" %>
        <%= f.text_area :introduction, class:"w-100 px-2 py-1" %>
      </div>
      <%= f.submit "Update User", class:"btn btn-secondary" %>
    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>