<h1>User info</h1>
<%= form_with model:@user,local: true do |f| %>
  <lavel for="name">Name</lavel>
  <%= f.text_field :name, id:"name" %>
  <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: "jpeg", fallback: "no_image.jpg", size:"80x80" %>
  <label for="image">Image</label>
  <%= f.attachment_field :profile_image,placeholder:"プロフィール画像" %>
  <label for="introduction">Introduction</label>
  <%= f.text_area :introduction,id:"introduction" %>
  <%= f.submit "Update User" %>
<% end %>