<!--------------------新規投稿失敗時のエラーメッセージ--------------------->
<% if @book.errors.any? %>
  <%= "#{@book.errors.count} error prohibited this obj from being saved:" %>
  <% @book.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>
<!------------------------------------------------------------------------->


<!---------------------------左画面---------------------------->
<%= render "users/user_info_and_new_book", new_book:@new_book, user_info:@user_info %>


<!---------------------------右画面---------------------------------->
<h1>Books</h1>
<% @books.each do |book| %>
  <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60 %>
  <p>Title</p>
  <%= link_to book.title, book_path(book.id) %>
  <p>Opinion</p>
  <%= book.body %>
<% end %>